<div>
  <h1>Productos disponibles</h1>
  

  {{#if products.length}}
    <ul>
      {{#each products}}
        <li>{{title}} - ${{price}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>No hay productos disponibles.</p>
  {{/if}}

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>

</div>